<a href="https://colab.research.google.com/github/CHRISTINEMUTHEE/Week-4-IP/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2021_07_Christine_Muthee_SQL_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


SQL Data Analysis: Autolib car sharing service.
I have used SQL used mainly for querying the clean data set.

1.0 Connecting to our Database

In [ ]:
# Loading the sql extension into thid environment
#
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
#
%sql sqlite://

'Connected: @None'

1.1 Importing Data from the clean CSV file.

In [ ]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [ ]:
# Loading our table from the respective CSV files
# We will export the Households dataset that we have cleaned using python
#
with open('Clean_Autolib.csv','r') as f:
    Clean_Autolib = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Clean_Autolib;
%sql PERSIST Clean_Autolib;
%sql SELECT * FROM Clean_Autolib LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'STATION', 75015, 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00', 0),
 ('145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', 'STATION', 75014, 'operational', 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24, '2018-04-06 07:24:00', 6),
 ('2 Avenue John Fitzgerald Kennedy', 3, 3, 0, 2, 0, 'operational', 'Le Bourget', 'STATION', 93350, 'operational', 1, 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14, '2018-04-03 20:14:00', 5),
 ('51 Rue EugÃ¨ne OudinÃ©', 3, 3, 1, 0, 1, 'operational', 'Paris', 'STATION', 75013, 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37, '2018-04-04 04:37:00', 4),
 ('6 avenue de la Porte de Champerret', 3, 3, 0, 0, 0, 'nonexistent', 'Paris', 'PARKING', 75017, 'operational', 3, 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23, '2018-04-08 17:23:00', 3)]

In [ ]:
Clean_Autolib.info()

1.2 Previewing our Dataset

In [ ]:
%%sql
SELECT * FROM Clean_Autolib LIMIT 5

1.3 Accessing Information about our Dataset.

In [ ]:
%%sql
PRAGMA table_info(Clean_Autolib)

2.0 Data Analysis

*   Here we will anwer the questions passed in the objectives

In [ ]:
#Counterchecking timestamp infor.
%%sql
SELECT timestamp FROM Clean_Autolib LIMIT 5

 * sqlite://
Done.

[('2018-04-08 11:43:00',),
 ('2018-04-06 07:24:00',),
 ('2018-04-03 20:14:00',),
 ('2018-04-04 04:37:00',),
 ('2018-04-08 17:23:00',)]

In [ ]:
%%sql
SELECT month FROM Clean_Autolib LIMIT 4

 * sqlite://
Done.

[(4,), (4,), (4,), (4,)]

In [ ]:
#Q1: Indentify the most popular hour of the day for picking up a shared electric car(Blue car) 
#in the city of paris over the month of April 2018.
#The most popular hour is when the cars available are minimum in the city of paris since all of them are already picked up.
#POINT TO NOTE:cars are redundant with the blue car counter
%%sql
SELECT timestamp FROM Clean_Autolib WHERE city='Paris' AND month=4 ORDER BY cars LIMIT 1

 * sqlite://
Done.

[('2018-04-08 11:43:00',)]

In [ ]:
%%sql
SELECT * FROM Clean_Autolib LIMIT 2

 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'STATION', 75015, 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00', 0),
 ('145 Rue Raymond Losserand', 6, 6, 0, 0, 0, 'operational', 'Paris', 'STATION', 75014, 'operational', 0, 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24, '2018-04-06 07:24:00', 6)]

In [ ]:
#Q1: Indentify the most popular hour of the day for returning cars
# The most popular hour of returning cars is when the cars are most available at the station
# and the parking slots available are at a minimum due to the cars returned.
%%sql
SELECT timestamp FROM Clean_Autolib ORDER BY Total_cars DESC LIMIT 1

 * sqlite://
Done.

[('2018-04-01 17:35:00',)]

In [ ]:
# The most popular hour of picking ALL cars is when the cars are least available at the station
# and the parking slots available are at a maximum due to the cars returned.
%%sql
SELECT timestamp FROM Clean_Autolib ORDER BY Total_Cars ASC LIMIT 1

 * sqlite://
Done.

[('2018-04-08 11:43:00',)]

In [ ]:
#Viewing the maximum in the attributable columns
%%sql
SELECT MAX(slots),MAX(cars),MAX("utilib_counter"),MAX("utilib_counter.1"),MAX("charge_slots") FROM Clean_Autolib

 * sqlite://
Done.

[(7, 7, 2, 3, 2)]

In [ ]:
#Viewing Minimum in the attributable columns
%%sql
SELECT MIN(slots),MIN(cars),MIN("utilib_counter"),MIN("utilib_counter.1"),MIN("charge_slots") FROM Clean_Autolib

 * sqlite://
Done.

[(0, 0, 0, 0, 0)]

In [ ]:
# What station is the most popular Overall
# The station thats most popular is that which has minimum number of cars  available for hiring since the cars are already operational
#Here the parking slots are at maximum(no cars at the station)
# 99 rue Charles-de-Gaulle in Yerres is the most popular station overall 
#Where there are minimum cars available for hiring and maximum parking slots available.
%%sql
SELECT * FROM Clean_Autolib WHERE slots=7 ORDER BY Total_cars ASC LIMIT 10

In [ ]:
#What station is the most popular at the most popular pick up hour
#The most popular pick up hour is when the Total available cars are at minimum since all cars are rented out.
#Avenue de Suffren in Paris is the most popular station at the most popular pick up hour
%%sql
SELECT * FROM Clean_Autolib WHERE timestamp=(SELECT timestamp FROM Clean_Autolib ORDER BY Total_Cars ASC LIMIT 1);

 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'STATION', 75015, 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00', 0)]

In [ ]:
#What postal code is the most popular for picking up blue cars
#This is the station that has the least amount of blue cars available for pickup since all of them are rented out
#Postal code is 75015 in paris
%%sql
SELECT "postal_code" FROM Clean_Autolib ORDER BY cars ASC LIMIT 1

 * sqlite://
Done.

[(75015,)]

In [ ]:
#Does the most popular station belong to that Postal Code?
#Yes
%%sql
SELECT * FROM Clean_Autolib ORDER BY Total_cars ASC LIMIT 1

 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'STATION', 75015, 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00', 0)]

In [ ]:
#Does the most popular station belong to that Postal Code at the most popular hour?
#Yes
%%sql
SELECT * FROM Clean_Autolib WHERE timestamp=(SELECT timestamp FROM Clean_Autolib ORDER BY Total_Cars ASC LIMIT 1)

 * sqlite://
Done.

[('2 Avenue de Suffren', 0, 0, 0, 0, 0, 'nonexistent', 'Paris', 'STATION', 75015, 'operational', 2, 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00', 0)]

In [ ]:
#Most Popular Utilib Pick up hour is when the utilib cars are least available meaning they have already been rented out..
%%sql
SELECT timestamp FROM Clean_Autolib ORDER BY "utilib_counter" ASC LIMIT 1

 * sqlite://
Done.

[('2018-04-08 11:43:00',)]

In [ ]:
#Most Popular Utilib 1.4 pick up hour is the time when they are least available.
%%sql
SELECT timestamp FROM Clean_Autolib ORDER BY "utilib_counter.1" ASC LIMIT 1

 * sqlite://
Done.

[('2018-04-08 11:43:00',)]

In [ ]:
#Most Popular return hour is when the Utilib 1.4 cars are most available
%%sql
SELECT timestamp FROM Clean_Autolib ORDER BY "utilib_counter" DESC LIMIT 1

 * sqlite://
Done.

[('2018-04-04 02:59:00',)]

In [ ]:
#Most Popular return hour is when the Utilib 1.4 cars are most available 
%%sql
SELECT timestamp FROM Clean_Autolib ORDER BY "utilib_counter.1" DESC LIMIT 1

 * sqlite://
Done.

[('2018-04-06 13:55:00',)]

In [ ]:
#The most popular station is that which has minimum available cars for renting 
%%sql
SELECT address,"utilib_counter" FROM Clean_Autolib ORDER BY "utilib_counter" ASC LIMIT 1

 * sqlite://
Done.

[('2 Avenue de Suffren', 0)]

In [ ]:
%%sql
SELECT * FROM Clean_Autolib ORDER BY "charge_slots" DESC LIMIT 1

 * sqlite://
Done.

[('14 rue Censier', 0, 0, 0, 0, 2, 'operational', 'Paris', 'STATION', 75005, 'operational', 6, 'station', 'ok', 'nonexistent', 2018, 4, 1, 4, 39, '2018-04-01 04:39:00', 0)]

Conclusions from this data set.
* The most Popular hour of picking up blue cars in Paris in April 2018 was:11:43:00
* The most popular return time for ALL cars was:17:35:00
* The most Popular overal station :99 rue Charles-de-Gaulle in Yerres is the most popular station overall
* Avenue de Suffren in Paris is the most popular station at the most popular pick up hour
* Postal code is 75015 in paris is the most popular for picking up blue cars.
* Does the most popular station belong to that Postal Code? Yes
* Does the most popular station belong to that Postal Code at the most popular hour? Yes
* Most Popular Utilib Pick up hour is :11:43:00
* Most Popular Utilib 1.4 Pick up hour is:11:43:00
* Most Popular utilib return hour is:02:59:00
* The most popular return hour is:13:55:00
* The most popular station utilib cars: 2 Avenue de Suffren	0